In [ ]:
import pandas as pd
data = { 'Model': ['Bike 1', 'Bike 2', 'Bike 3', 'Bike 4', 'Bike 5'],
        'Price': [10000, 200000, 30000, 40000, 5000000],
        'Horsepower': [1000, 2640, 3678, 4153, 5795]}
motorbike_df = pd.DataFrame(data)
motorbike_df

    Model  Price  Horsepower
0  Bike 1    100        1000
1  Bike 2    200        2640
2  Bike 3    300        3678
3  Bike 4    400        4153
4  Bike 5    500        5795

In [22]:
# Average price of bikes
avg_price = motorbike_df['Price'].mean()
print(f'Average price of bike is {avg_price}')

Average price of bike is 300.0

In [23]:
# The most expensive bike
max_price = motorbike_df['Price'].max()
print(f'The most expensive price is {max_price}')

The most expensive price is 500

In [24]:
# The cheapest bike
max_price = motorbike_df['Price'].min()
print(f'The least expensive price is {max_price}')

The least expensive price is 100

In [25]:
# Average horsepower of bikes
avg_hp = motorbike_df.loc[:,'Horsepower'].mean()
print(f'Average horsepower of bike is {avg_hp}')

Average horsepower of bike is 3453.2

In [26]:
#  The most powerful bike
max_power = motorbike_df['Horsepower'].max()
print(f'Most powerful bike has {max_power} Horsepower')

Most powerful bike has 5795 Horsepower

In [28]:
# The least powerful bike
min_power = motorbike_df['Horsepower'].min()
print(f'Least powerful bike has {min_power} Horsepower')

Least powerful bike has 1000 Horsepower

In [30]:
# Price per horsepower
motorbike_df['Price_per_hp'] = motorbike_df['Price'] / motorbike_df['Horsepower']
motorbike_df

    Model  Price  Horsepower  Price_per_hp
0  Bike 1    100        1000      0.100000
1  Bike 2    200        2640      0.075758
2  Bike 3    300        3678      0.081566
3  Bike 4    400        4153      0.096316
4  Bike 5    500        5795      0.086281

In [10]:
# The most expensive bike per horsepower

In [ ]:
# The cheapest bike per horsepower